*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, li{
    text-decoration: none !important;
}
#header{
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    border-bottom: 1px solid #e6f2fb;
    top: 0;
    left: 0;
    right: 0;
}
.navbar .btn{
    border-radius: 5px 50px 5px 50px;
    border: 3px solid #2487ce;
}
.navbar .nav-link {
    color: black;
}
.navbar .nav-link:hover{
    color: #0d6efd;
}
.d.flex{
    display: flex;
}
#home{
    min-height: 100vh;
}

.home .swiper-slide .content{
    width: 50%;
   align-items: center;
}
.onli-text{
    color: #124265 !important;
    font-family: sans-serif;
}
#home .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid#0eb582;
}
#home .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0eb582;
}
#slide-1{
    background: url(https://i.postimg.cc/XJ2Xg5FR/home-slide-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
}
.swiper {
    width: 100%;
    height: 100%;
}
#slide-2{
    background: url(https://i.postimg.cc/SsQJ8dXL/home-slide-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    min-height: 100vh;
}
#slide-3{
    background: url(https://i.postimg.cc/4ymy23Qm/home-slide-3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    min-height: 100vh;
}
#slide-4{
    background: url(https://i.postimg.cc/7hd6FyKX/autonomous-vehicles-banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
#home .slider-section .btn:hover {
    background: #0eb582;
    color: #fff;
}
#subjects, #code-right, .footer-bottom{
    background: #cfcff0;
}
.card {
    padding: 20px;
    background-color: #fbfbfe !important;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);border-radius: 50px !important;
    transition: all 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card p{
    font-size: 14px;
}

.home-courses .lf-1:hover .content-box {
    bottom: 0;
}

.content-box {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #2487ce;
    padding: 2rem 3rem;
}
#popular-courses .pop-course{
    margin-bottom: 7px;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 2px 15px rgb(18 66 101 / 8%);
}

#popular-courses .pop-course .course-img{
    position: relative;
    overflow: hidden;
}

#popular-courses .pop-course .course-img img{
    object-fit: cover;
    min-height: 277.5px;
}
#popular-courses .pop-course .course-content{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: black;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
#popular-courses .pop-course:hover .course-content{
    opacity: 0.7;
}
#popular-courses .pop-course .course-content .btn:hover{
    color: black;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition-duration: 0.3s;
    /* -webkit-transition-delay: 0.5s; */
}
#teacher .btn-outline-dark{
    border: 3px solid black;
}

.testimony-person{
    text-align: center;
}
.testimony-person img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonial-box .testimony .fa-quote-left, .testimonial-box .testimony .fa-quote-right{
    color: #c9e3f5;
    font-size: 26px;
}
#review .slider-section .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2487ce;
}
#review .slider-section .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2487ce;
}
.testimonial-box .testimony .fa-quote-left{
    display: inline-block;
    left: -5px;
    position: relative;
}
.testimonial-box .testimony .fa-quote-right{
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}
.testimonial-box .testimony p{
    font-style: italic;
    margin: 0 15px 15px 15px;
    padding: 20px;
    background: #f3f9fd;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
}
.testimonial-box .testimony p::after {
    content: "";
    border-top: 20px solid #f3f9fd;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
}

#review .slider-section .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #2487ce;

}
#review .swiper-slide{
    margin-bottom: 20px;
}
#review .slider-section .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2487ce;
}
#client-section img{
    max-width: 45%;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
}
#client-section img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}
#footer ul li a:hover{
    color: #2487ce !important;
}
#footer ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #cde5f6;
}

#footer form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#footer form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #2487ce;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
}

#footer .footer-top ul i{
    padding-right: 5px;
    color: #2487ce;
    font-size: 18px;
    line-height: 1;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2487ce;
    color: #fff;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2487ce;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}
.back-to-top:hover {
    background: #3e9bdd;
    color: #fff;
}
  
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

